### STS ###
target/
*.class
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.class
.metadata/
.recommenders/
logs/
*.log

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
bin/
nbbuild/
dist/
nbdist/
.nb-gradle/